[submodule "mp3snd"]
	path = mp3snd
	url = git://github.com/pffy/mp3-chinese-pinyin-sound.git
[submodule "oggsnd"]
	path = oggsnd
	url = git://github.com/pffy/ogg-chinese-pinyin-sound.git
[submodule "src"]
	path = src
	url = https://github.com/pffy/javascript-hanyupinyin
